<section>
  <h1>Add Company:</h1>
  <form method="POST" action="/companies/create">
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Name" required />
    <br />
    <label for="description">Description:</label>
    <input
      type="text"
      name="description"
      placeholder="Description"
      required
    /><br />
    <label for="openings">Openings:</label>
    <input type="text" name="openings" placeholder="Openings" required /><br />
    <label for="package">Package (in lpa) :</label>
    <input type="text" name="package" placeholder="Package" required /><br />
    <input type="submit" value="Add" />
  </form>
</section>

<div style="margin-top: 20px">
  <form method="POST" action="/interviews/download-csv">
    <input type="submit" value="Export file to csv" />
  </form>
</div>

<section>
  <h1>List Of Companies:</h1>
  <ul>
    <% for(company of companies) { %>
    <p>
      <li>
        Name: <%= company.name %> <br />
        Description: <%= company.description %> <br />
        Package: <%= company.package %><br />
        Openings: <%= company.openings %><br />
        Students applied:
        <ul style="list-style: none">
          <% for(student of company.students) { %>
          <li><%= student.name %></li>
          <% } %>
        </ul>
      </li>
    </p>
    <% } %>
  </ul>
</section>
