<section>
  <h1>Add Interview:</h1>
  <form method="POST" action="/interviews/create">
    <label for="student">Student:</label>
    <select type="text" name="student" required>
      <% for(stud of students) { %>
      <option value="<%= stud.name %>"><%= stud.name %></option>
      <% } %>
    </select>
    <br />
    <label for="company">Company:</label>
    <select type="text" name="company" required>
      <% for(comp of companies) { %>
      <option value="<%= comp.name %>"><%= comp.name %></option>
      <% } %>
    </select>
    <br />
    <label for="date">Date:</label>
    <input type="date" name="date" placeholder="Date" required /><br />

    <input type="submit" value="Add" />
  </form>
</section>

<div style="margin-top: 20px">
  <form method="POST" action="/interviews/download-csv">
    <input type="submit" value="Export file to csv" />
  </form>
</div>

<section>
  <h1>List Of Interviews:</h1>
  <ul>
    <% for(interview of interviews) { %>
    <p>
      <li>
        Name: <%= interview.student.name %> <br />
        Company: <%= interview.company.name %> <br />
        Date: <%= interview.date %><br />
        <% if(interview.result_status) { %> Result: <%= interview.result_status
        %>
        <!--  -->
        <% } else{ %>
        <form method="POST" action="/interviews/select-result/">
          <input
            type="hidden"
            name="interview_id"
            value="<%= interview.id %>"
          />
          <span>Select Result: </span>
          <select name="result_status">
            <option value="pass">Pass</option>
            <option value="fail">Fail</option>
            <option value="on_hold">On hold</option>
            <option value="didnt_attempt">Didn't Attempt</option>
            <input type="submit" value="Add result" />
          </select>
        </form>
        <!--  -->
        <% } %>
      </li>
    </p>
    <% } %>
  </ul>
</section>
